<h1>Produtos</h1>

<table border="1">
<thead>
    <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Preco</th>
    <th>Categoria</th>
    <th>Fornecedor</th>
    <th>Visualizar</th>
    <th>Editar</th>
    <th>Deletar</th>
    </tr>
</thead>
<tbody>
    {% for produto in object_list %}
    <tr>
    <td>{{ produto.name }}</td>
    <td>{{ produto.quantidade }}</td>
    <td>{{ produto.preco }}</td>
    <td>{{ produto.categoria }}</td>
    <td>{{ produto.fornecedor }}</td>
    <td><a href="{% url "produto_view" produto.id %}">Visualizar</a></td>
    <td><a href="{% url "produto_edit" produto.id %}">Editar</a></td>
    <td><a href="{% url "produto_delete" produto.id %}">Deletar</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="{% url "produto_new" %}">New</a>
