<h1>Pedidos</h1>

 
<table border="1">
<thead>
    <tr>
    <th>nº Pedido</th>
    <th>Cliente</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Preco</th>
    <!-- <th>Preco Total</th> -->
    <th>Visualizar</th>
    <th>Editar</th>
    <th>Deletar</th>
    </tr>
</thead>
<tbody>
    {% for pedido in object_list %}
    <tr>
    <td>{{ pedido.numeropedido }}</td>
    <td>{{ pedido.name }}</td>
    <td>{{ pedido.produto }}</td>
    <td>{{ pedido.quantidade }}</td>
    <td>{{ pedido.preco }}</td>
    <!-- <td>{{ pedido.precototal }}</td> -->
    <td><a href="{% url "pedido_view" pedido.id %}">Visualizar</a></td>
    <td><a href="{% url "pedido_edit" pedido.id %}">Editar</a></td>
    <td><a href="{% url "pedido_delete" pedido.id %}">Deletar</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>
<a href="{% url "pedido_new" %}">New</a>
