{% comment %} <h1>Cliente Edit</h1>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form> {% endcomment %}

<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<header class="bg-gray-800 text-white flex justify-between items-center p-2"> 
    <h1 class="text-2xl font-bold">Clientes</h1>
</header>
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6 text-gray-800">Editar Cliente</h1>
    <form method="POST">
        <div class="bg-white shadow-lg rounded-lg p-6 max-w-md"> 
            {% csrf_token %}
            <div class="space-y-4">
                {% for field in form %}
                    <div class="flex flex-col">
                        <label class="block text-sm font-medium text-gray-700 mb-1">{{ field.label }}</label>
                        <div>
                            {{ field }} 
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <button type="submit" class="mt-6 w-full bg-blue-500 text-white font-bold py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                Salvar
            </button>
        </div>
    </form>
</div>

<style>
    input, select, textarea {
        border: 1px solid #d1d5db; 
        border-radius: 0.375rem; 
        padding: 0.75rem; 
        width: 100%; 
        outline: none;
    }
    input:focus, select:focus, textarea:focus {
        border-color: #3b82f6; 
        box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); 
    }
</style>